includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 6
    treatPhpDocTypesAsCertain: false
    phpVersion: 70400
    paths:
        - wp-checkpoint.php
        - uninstall.php
        - src
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    scanFiles:
        - tests/phpstan-stubs/wp-cli.php
rules:
    - WPCheckpoint\Tests\PHPStan\HostFunctionsRule
